html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 10vh;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 10vh;
	background-image: url("../img/UIHere.png");
	background-repeat: no-repeat;
    background-color: #7f8c8d;
	background-position: left top 18%;
    font-family: "Times New Roman", Times, serif;
}

.msg{
	color: white;
}

.login{
	border: 1px solid rgba(255,255,255, 0.3);
	padding: 3em;
	position: absolute;
	top: 50%;
	left: 95%;
	transform: translateX(-95%) translateY(-50%);
	text-align: center;
}

.login input{
	color: white;
	display: block;
	width: 300px;
	height: 40px;
	background: rgba(255,255,255,0.1);
	outline: none;
	border: 1px solid rgba(255,255,255,0.1);
	font-weight: lighter;
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.login input::placeholder{
	color: rgba(255,255,255,0.8);
}

.login button {
	width: 300px;
	height: 50px;
	font-size: 16px;
	background: #000;
	font-weight: lighter;
	color: #fff;
	border: 0px;
}

.login h1{
	text-align: center;
	font-size: 50px;
	color: white;
	font-weight: lighter;
}